<button *ngIf="sod=='dreptaci'" class="statistici-mare-dreptaci" [routerLink]="['statistici']" style="padding:0;">
  <img src="/assets/img/statistici.svg" alt="buton statistici">
  <div class="numcop" style="color:lime; left:50%; transform:translate(-50%,.5mm)">{{numarCopaci}}</div>
</button>
<button *ngIf="sod=='dreptaci'" class="statistici-mic-dreptaci" [routerLink]="['statistici']" style="padding:0;">
  <img src="/assets/img/statistici.svg" alt="buton statistici">
  <div class="numcop" style="color:lime; left:50%; transform:translate(-50%,.5mm)">{{numarCopaci}}</div>
</button>

<button *ngIf="sod=='stingaci'" class="statistici-mare-stingaci" [routerLink]="['statistici']" style="padding:0;">
  <img src="/assets/img/statistici.svg" alt="buton statistici">
  <div class="numcop" style="color:lime; left:50%; transform:translate(-50%,.5mm)">{{numarCopaci}}</div>
</button>
<button *ngIf="sod=='stingaci'" class="statistici-mic-stingaci" [routerLink]="['statistici']" style="padding:0;">
  <img src="/assets/img/statistici.svg" alt="buton statistici">
  <div class="numcop" style="color:lime; left:50%; transform:translate(-50%,.5mm)">{{numarCopaci}}</div>
</button>
<!--
<app-zstatistici></app-zstatistici>
  -->
