<div id="enhuro" style="padding:1mm; position:absolute; top:calc(50% - 6mm); z-index:9; background:var(--culoare-butoane); border-top-right-radius:6mm; border-bottom-right-radius:6mm; box-shadow: inset 0 0 1mm black, 0 0 3mm black;">
    <button id="en" (click)="limba('en')" style="padding:0; border:0; width:10mm; height:10mm; border-radius:50%"><img id="enpic" src="../../assets/img/gb.svg" style="transition:1s" /></button>
    <button id="hu" (click)="limba('hu')" style="padding:0; border:0; width:10mm; height:10mm; border-radius:50%"><img id="hupic" src="../../assets/img/hu.svg" style="transition:1s" /></button>
    <button id="ro" (click)="limba('ro')" style="padding:0; border:0; width:10mm; height:10mm; border-radius:50%"><img id="ropic" src="../../assets/img/ro.svg" style="transition:1s" /></button>
</div>
