<div *ngIf="sod=='dreptaci'" class="zboara-mare-sting">
  <button>
    <img src="/assets/img/lupa.svg" alt="buton mută harta">
    Mută harta la:
  </button>
  <ul>
    <li>denumire</li>
    <li>parcelă</li>
    <li>coordonate</li>
  </ul>
</div>
<div *ngIf="sod=='dreptaci'" class="zboara-mic-sting">
  <p>Apropie harta la:</p>
  <ul>
    <li>denumire</li>
    <li>parcelă</li>
    <li>coordonate</li>
  </ul>
</div>

<div *ngIf="sod=='stingaci'" class="zboara-mare-drept">
  <p>Apropie harta la:</p>
  <ul>
    <li>denumire</li>
    <li>parcelă</li>
    <li>coordonate</li>
  </ul>
</div>
<div *ngIf="sod=='stingaci'" class="zboara-mic-drept">
  <p>Apropie harta la:</p>
  <ul>
    <li>denumire</li>
    <li>parcelă</li>
    <li>coordonate</li>
  </ul>
</div>

