<button *ngIf="sod=='dreptaci'" class="top-mare-sting" [routerLink]="['top']" style="padding:0;">
  <img src="/assets/img/top.svg" alt="buton top">
</button>
<button *ngIf="sod=='dreptaci'" class="top-mic-sting" [routerLink]="['top']" style="padding:0;">
  <img src="/assets/img/top.svg" alt="buton top">
</button>

<button *ngIf="sod=='stîngaci'" class="top-mare-drept" [routerLink]="['top']" style="padding:0;">
  <img src="/assets/img/top.svg" alt="buton top">
</button>
<button *ngIf="sod=='stîngaci'" class="top-mic-drept" [routerLink]="['top']" style="padding:0;">
  <img src="/assets/img/top.svg" alt="buton top">
</button>

<!--
<app-ztop></app-ztop>
  -->



