<button *ngIf="sod=='dreptaci'" class="top-mare-dreptaci" [routerLink]="['top']" style="padding:0;">
  <img src="/assets/img/top.svg" alt="buton top">
</button>
<button *ngIf="sod=='dreptaci'" class="top-mic-dreptaci" [routerLink]="['top']" style="padding:0;">
  <img src="/assets/img/top.svg" alt="buton top">
</button>

<button *ngIf="sod=='stingaci'" class="top-mare-stingaci" [routerLink]="['top']" style="padding:0;">
  <img src="/assets/img/top.svg" alt="buton top">
</button>
<button *ngIf="sod=='stingaci'" class="top-mic-stingaci" [routerLink]="['top']" style="padding:0;">
  <img src="/assets/img/top.svg" alt="buton top">
</button>

<!--
<app-ztop></app-ztop>
  -->



