
<div class="toc" style="margin:0; border:0; padding:0;">
    <div class="usa">
        <!-- <h2 style="text-align: center; padding-top: 6mm; pointer-events: none;">Statistici</h2> -->
        <h1><b>{{numarCopaci}}</b></h1>
        <p>{{getUzer.limba=='ro'?"copaci sădiți":""}}{{getUzer.limba=='hu'?"fákat ültetett":""}}{{getUzer.limba=='en'?"trees planted":""}},</p>
        <p>{{getUzer.limba=='ro'?"aceasta însemnînd":""}}{{getUzer.limba=='hu'?"ezt a jelentést":""}}{{getUzer.limba=='en'?"meaning":""}}:</p>
        <!-- <p><b>{{numarCopaci*0.117934 | number:'1.2-2'}}</b> tone/an de oxigen,</p> -->
        <p><b>{{oxigen}}</b> {{getUzer.limba=='ro'?"tone/an de oxigen":""}}{{getUzer.limba=='hu'?"tonna/év oxigén":""}}{{getUzer.limba=='en'?"tonnes/year of oxygen":""}},</p>
        <p>{{getUzer.limba=='ro'?"adică necesarul a":""}}{{getUzer.limba=='hu'?"vagyis a szükséges a":""}}{{getUzer.limba=='en'?"the requerment of":""}} <b>{{numarCopaci*2}}</b> {{getUzer.limba=='ro'?"oameni":""}}{{getUzer.limba=='hu'?"emberek":""}}{{getUzer.limba=='en'?"people":""}}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>
    <div class="prag"></div>
</div>

