
<div class="toc" style="margin:0; border:0; padding:0;">
  <div class="usa">
    <h2 style="text-align: center; padding-top: 6mm; pointer-events: none;">Statistici</h2>
    <p>statistici works</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <!--<p>chiar și pe butonul mic am loc pt nr copacilor, care-i statistica principală din care derivă celălalte. se va putea ascunde/arăta din setting</p>
    <p></p>
    <p>cînd numărul e mai mare de 999.999 pot să-l split la separator și să-l arăt pe mai multe rînduri ancorat dreapta-jos</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>aaaa</p>
    <p>xxx</p>
    <p>yyy</p>
    <p>zzz</p>-->
  </div>
  <!--<p>&#8203;</p>
  <p>&#8203;</p>-->
  <div class="prag"></div>
</div>

