<!-- <div *ngIf="sod=='dreptaci'" id="sts-mare-dreptaci" style="padding:0;">
    <div id="scara-mare-dreptaci"></div>
    <div id="coordonate-mare-dreptaci"></div>
</div>
<div *ngIf="sod=='dreptaci'" id="sts-mic-dreptaci" style="padding:0;">
    <div id="scara-mic-dreptaci"></div>
    <div id="coordonate-mic-dreptaci"></div>
</div>

<div *ngIf="sod=='stingaci'" id="sts-mare-stingaci" style="padding:0;">
    <div id="coordonate-mare-stingaci"></div>
    <div id="scara-mare-stingaci"></div>
</div>
<div *ngIf="sod=='stingaci'" id="sts-mic-stingaci" style="padding:0;">
    <div id="coordonate-mic-stingaci"></div>
    <div id="scara-mic-stingaci"></div>
</div>
 -->
