.toc {
  position: absolute; /*la fixed dispare scrollul*/
  top: 36mm;
  left: 50%;
  transform: translate(-50%, 0%); /*(h,v)*/
  max-width: 96mm;
  min-width: 64mm;
  text-align: center;
  word-wrap: break-word;
}
.usa {
  box-shadow: 0 0 3mm grey;
  border-radius: 12mm;
  background-color: var(--culoare-pagini);
}
.prag {
  height: 12mm;
}

@media screen and (max-width: 210mm) {
  .toc {
    top: 12mm;
    max-width: 64mm;
  }
  .prag {
    height: 24mm;
  }
}

form:valid input[type="submit"] {
  background-color: green;
  color: greenyellow;
}

form:invalid input[type="submit"] {
  background-color: red;
  color: pink;
}

label {
  display: block;
  margin: 0.5em 0;
}


