<button *ngIf="sod=='dreptaci'" class="despre-mare-sting" [routerLink]="['despre']" style="padding:0;">
  <img src="/assets/img/despre.svg" alt="buton despre">
</button>
<button *ngIf="sod=='dreptaci'" class="despre-mic-sting" [routerLink]="['despre']" style="padding:0;">
  <img src="/assets/img/despre.svg" alt="buton despre">
</button>

<button *ngIf="sod=='stîngaci'" class="despre-mare-drept" [routerLink]="['despre']" style="padding:0;">
  <img src="/assets/img/despre.svg" alt="buton despre">
</button>
<button *ngIf="sod=='stîngaci'" class="despre-mic-drept" [routerLink]="['despre']" style="padding:0;">
  <img src="/assets/img/despre.svg" alt="buton despre">
</button>
<!--
<app-zdespre></app-zdespre>
  -->

