<button *ngIf="sod=='dreptaci'" class="despre-mare-dreptaci" [routerLink]="['despre']" style="padding:0;">
  <img src="/assets/img/despre.svg" alt="buton despre">
</button>
<button *ngIf="sod=='dreptaci'" class="despre-mic-dreptaci" [routerLink]="['despre']" style="padding:0;">
  <img src="/assets/img/despre.svg" alt="buton despre">
</button>

<button *ngIf="sod=='stingaci'" class="despre-mare-stingaci" [routerLink]="['despre']" style="padding:0;">
 <img src="/assets/img/despre.svg" alt="buton despre">
</button>
<button *ngIf="sod=='stingaci'" class="despre-mic-stingaci" [routerLink]="['despre']" style="padding:0;">
  <img src="/assets/img/despre.svg" alt="buton despre">
</button>
<!--
<app-zdespre></app-zdespre>
  -->

